<div class="row">
  <div class="col-xs-12">
    <h2>Mes postes</h2>
    <ul class="list-group">
      <li 
        *ngFor="let post of posts; let i = index"
        [ngClass]="{
        'list-group-item':true,
        'list-group-item-success':post.loveIts>0,
        'list-group-item-danger':post.loveIts<0
      }">
        <div class="list-group-item-heading">
          <span class="h3">{{ post.title }}</span>
          <span class="pull-right">{{post.created_at|date:'short'}}</span>
        </div>
        <div class="list-group-item-text"><p>{{ post.content}}</p></div>
        <div class="btn-toolbar">
          <button type="button" class="btn btn-success "(click)="onLoveIt(i)">J'aime</button>
          <button type="button" class="btn btn-danger" (click)="onDontLoveIt(i)">J'aime pas</button>
          <button type="button" class="btn btn-danger pull-right"(click)="onSupprimer(post)">Supprimer</button>
        </div> 
      </li>
    </ul> 
  </div>
</div>

